body{
  margin:0;
  background:#0f1117;
  color:white;
  font-family:Arial,sans-serif;
}

.container{
  max-width:900px;
  margin:auto;
  padding:30px;
}

h1{
  text-align:center;
}

.card{
  background:#1b1f2a;
  padding:20px;
  border-radius:16px;
  margin-top:20px;
}

input,textarea{
  width:100%;
  padding:12px;
  border:none;
  border-radius:10px;
  margin-top:10px;
  background:#2b3142;
  color:white;
}

button{
  width:100%;
  padding:15px;
  margin-top:20px;
  border:none;
  border-radius:12px;
  background:#4f7cff;
  color:white;
  font-size:16px;
  font-weight:bold;
}

button:hover{
  background:#3c63d9;
}
